.advantages {
  position: relative;
  text-align: center;
  margin-bottom: 42px;
  overflow: hidden;
  &::before {
    content:"";
    position: absolute;
    left: 0;
    top: 197px;
    border-bottom: 30px solid #f2f2f2;
    border-left: 320px solid transparent;
  }
}

.advantages__slogan, .advantages__intro {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
}

.advantages__slogan {
  display: inline-block;
  margin-bottom: 35px;
}

.advantages__list {
  @include reset-list;
}

.advantages__wrapper {
  position: relative;
  padding: 0 20px;
  padding-top: 50px;
  // padding-bottom: 300px;
  margin-top: 60px;
  background-color: #f2f2f2;
}

.advantages__image--bottom {
  height: 330px;
  margin: 0;
  background: url("../../img/iphone-screen-mobile@1x.png") center center no-repeat;
}

.advantages__column-image {
  width: 268px;
  height: 481px;
}

.advantages__column--none {
  display: none;
}

.advantages__title {
  font-size: 18px;
  color: #000;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__description {
  color: #{$leonardo};
  margin: 0;
  margin-bottom: 30px;
}

@media (min-width: #{$tablet-width}) {
  .advantages__slogan {
    font-size: 40px;
    margin-bottom: 0;
  }
  .advantages__intro {
    font-size: 40px;
  }
  .advantages__wrapper .container {
    display: flex;
  }
  .advantages__column {
    margin-right: 42px;
  }
  .advantages__column--none {
    display: block;
  }
  .advantages__image--bottom {
    display: none;
  }
  .advantages__list {
    order: 1;
    text-align: left;
  }
  .advantages::before {
    content:"";
    position: absolute;
    left: 0;
    top: 197px;
    border-bottom: 30px solid #f2f2f2;
    border-left: 320px solid transparent;
  }
}

@media (min-width: #{$dekstop-width}) {
  .advantages__slogan {
    font-size: 50px;
  }
  .advantages__intro {
    font-size: 50px;
  }
}
