.devices {
  text-align: center;
  padding-bottom: 30px;
  background-color: #1d2631;
}

.devices__list {
  @include reset-list;
  @include flex(space-between, flex-end);
  align-content: flex-end;
  flex-wrap: wrap;
  width: 205px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.devices__availability {
  display: block;
  width: 230px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: #{$tablet-width}) {
  .devices {
    background-color: transparent;
  }
  .devices__availability {
    font-size: 18px;
    width: 295px;
  }
}
