.intro {
  position: relative;
  text-align: center;
  margin-top: 396px;
  margin-bottom: 40px;
  background-color: #1d2631;
  z-index: 2;
}

.intro__devices {
  text-align: center;
}

.intro__slogan {
  @include set-font(40px, normal);
  font-weight: 300;
  color: #fff;
}

.intro__slogan--top {
  display: none;
}

.intro__link {
  margin-bottom: 32px;
}

@media (min-width: #{$tablet-width}) {
  .intro {
    // position: absolute;
    // top: 50%;
    // left: 25%;
    margin-top: 100px;
    margin-right: 320px;
    margin-bottom: 0px;
    // transform: translate(-50%, -50%);
    // z-index: 2;
    background-color: transparent;
  }
  .intro__slogan--top {
    display: block;
    width: 186px;
    margin: 0 auto;
  }
}

@media (min-width: #{$dekstop-width}) {
  .intro {
    margin-top: 120px;
    margin-right: 660px;
  }
  .intro__slogan--top {
    width: 230px;
    font-size: 50px;
  }
}
