.page-footer {
  padding: 20px 0;
}

.page-footer--none {
  display: none;
}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__social {
  margin-bottom: 40px;
}
