.page-header {
  position: relative;
  min-height: 462px;
  background: url("../../img/bg-back-mobile@1x.jpg") top center no-repeat;
  background-color: #{$leonardo};
}

.page-header--hand::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 287px;
  top: 176px;
  left: 50%;
  margin-left: -160px;
  background: url("../../img/iphone-hand-mobile@1x.png") 0 0 no-repeat;
}

.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__container {
  min-height: 66px;
  @include flex(space-between, center);
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;
  background: url("../../img/logo-pink-white-mobile.svg") center center no-repeat;
}

.page-header--inner {
  min-height: 238px;
}

.page-header__slogan {
  display: inline-block;
  vertical-align: top;
  @include set-font(24px, normal);
  font-weight: 300;
  color: #fff;
  padding: 0 7px;
  padding-top: 25px;
}

@media (min-width: #{$tablet-width}) {
  .page-header {
    min-height: 729px;
    background: url("../../img/bg-back-tablet@1x.jpg") top center no-repeat;
  }
  .page-header--hand::before {
    width: 660px;
    height: 560px;
    top: 176px;
    left: 50%;
    margin-left: -330px;
    background: url("../../img/iphone-hand-tablet@1x.png") center center no-repeat;
    z-index: 1;
  }
  .page-header__logo {
    width: 147px;
    height: 40px;
    background: url("../../img/logo-pink-white-tablet.svg") center center no-repeat;
  }
  .page-header__container {
    min-height: 110px;
  }
}

@media (min-width: #{$dekstop-width}) {
  .page-header {
    min-height: 853px;
    background: url("../../img/bg-back-desktop@1x.jpg") top center no-repeat;
    background-color: #{$leonardo};
  }
  .page-header--hand::before {
    height: 650px;
    width: 720px;
    top: 205px;
    background: url("../../img/iphone-hand-desktop@1x.png") center center no-repeat;
  }
  .page-header__logo {
    width: 147px;
    height: 40px;
    background: url("../../img/logo-pink-white-desktop.svg") center center no-repeat;
  }
}
