.social {
  text-align: center
}

.social__list {
  @include reset-list;
  @include flex(space-between, center);
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 200px;
}

.social__link {
  display: inline-block;
  width: 52px;
  height: 52px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  & path {
    fill: #d22856;
  }
  &:hover, &:focus {
    border: 3px solid #283645;
  }
  &:active {
    opacity: 0.1;
  }
}

.social__link--twitter {
  background-image: url(../img/icon-twitter.svg);
}

.social__link--facebook {
  background-image: url(../img/icon-facebook.svg);
}

.social__link--instagram {
  background-image: url(../img/icon-youtube.svg);
}
