.tariffs__name {
  @include set-font(18px, 30px);
  color: #fff;
}

.tariffs__price {
  @include set-font(24px, 30px);
  font-weight: 300;
  color: #fff;
}

.tariffs__item {
  background-color: #{$leonardo};
}

.services__item {
  @include set-font(14px, 30px);
}

.tariffs__toggles {
  text-align: center;
}
